################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NeonTerm/bin/Debug/netcoreapp3.1
/NeonTerm/obj
